body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ),
    url("assets/background.jpg");
    background-size: contain;
    color: rgb(240, 241, 249);
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(75, 251, 75);
}

h1 {
    font-weight: 900;
    margin: 0px;
}

h2 {
    font-weight: 600;
    margin: 0px;
    opacity: 65%;
}

#navigationBar a {
    font-weight: 600;
}

#introduction h1 {
    font-size: 125px;
}

img {
    border-radius: 15px;
}

#navigationBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(18, 18, 32);
    display: flex;
    align-items: center;
    z-index: 999;
}

#menuGrid {
    width: 100%;
    margin: 15px;
    text-align: center;
}

#menuItems {
    margin: 5px;
    color: rgb(240, 241, 249);;
}

a {
    transition: 0.3s;
    opacity: .65;
    cursor: pointer;
}

a:hover {
    opacity: 1;
    color: rgb(64, 256, 64);
}

#introduction {
    margin-top: 100px;
    text-align: center;
}

#informationBox {
    background-color: rgba(34, 34, 61, 0.75);
    border-radius: 15px;
    display: flex;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 25px;
}

#imageColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/comingSoon.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#imageColumn img {
    width: 100%;
}

#textColumn {
    flex: 1;
    flex-direction: column;
    margin-left: 25px;
}

#textColumn p {
    overflow-y: auto;
    max-height: 80%;
}

#textColumn p::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#scrollImage {
    text-align: center;
}

#scrollImage img {
    height: 25px;
}

#technologyBox {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: rgba(34, 34, 61, 0.75);
    padding: 25px;
}

#technologyIcons {
    text-align: center;
}

#technologyIcons img {
    border-radius: 0px;
    height: 50px;
}

#technologyIcons a {
    opacity: 50%;
    transition: .3s;
    cursor: pointer;
}

#technologyIcons a:hover {
    opacity: 1;
}

#portfolioBox {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: rgba(34, 34, 61, 0.75);
    padding: 25px;
}

#portfolioGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

#portfolioGrid a {
    display: block;
}

#portfolioGrid a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 99;
}

#portfolioGrid a:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
}

#portfolioGrid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#footer {
    margin-top: 5%;
    background-color: rgba(34, 34, 61, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Mobile. */
@media only screen and (min-width: 0px) and (max-width: 1000px) {
    #navigationBar {
        padding: 5px;
    }

    #introduction {
        margin-top: 100px;
    }
    
    #informationBox {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
        height: 750px;
    }

    #imageColumn {
        margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    }

    #textColumn p {
        max-height: 250px;
    }

    #technologyBox {
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }

    #technologyIcons img {
        height: 40px;
    }

    #portfolioBox {
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }
    
    #portfolioGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    #footer {
        margin-top: 5%;
        background-color: rgba(34, 34, 61, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 15px;
    }

    h1 {
        margin: 0px;
    }
    
    #navigationBar a {
        font-size: 15px;
    }
    
    #introduction h1 {
        font-size: 50px;
    }

    #informationBox {
        padding: 0px;
    }

    #textColumn {
        margin: 25px;
    
    }
    
    #textColumn p {
        max-height: 285px;
    }

    #technologyIcons img {
        height: 35px;
    }
}